hooks:
  post-start:
    # Install profile
    - exec: drush site-install server -y --existing-config

    # Generate Articles with Devel generate module.
    - exec: ddev . drush devel-generate-content 50 0 --types=article
    - exec: drush uli
